*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


/* Header Start */
header{
  height: auto;
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 999;
}

header button{
  background-color: rgb(120, 120, 120);
  color: white;
  padding: 3px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}
/* Header End */


/* Main Start */
main{
  background-color: black;
  height: calc(100vh - 65px);
}

.main {
  /* position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 200px; */
  position: absolute;
  flex-flow: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.partecipant {

  margin: 1px;
}

.partecipant img {
  width: 200px;
}
/* Main End */


/* Footer start */
footer{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: rgb(32, 32, 32);
  height: 65px;
  color: white;
  z-index: 999;
}

footer section{
  display: flex;
  margin: 0 10px;
}

.bottom-text{
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}

.arrow{
  font-size: 30px;
  line-height: 15px;
}

footer .icon{
  text-align: center;
  margin: 0 5px;
}

.icon svg{
  height: 26px;
  width: 26px;
}

.right{
  color: red;
  line-height: 65px;
  text-align: center;
  height: 100%;
  padding: 0 10px;
  margin-right: 0;
  background-color: rgb(74, 74, 74);
}
/* Footer End */